
main{
    font-size: 14px;
    text-align: justify;
    margin: 50px 250px;
    padding: 25px 60px;
    background-color: #e6e6e6;
    border-radius: 8px;
}

main h2{
    text-align: center;
}



.dark-mode {
    background-color: #181818;
}

.dark-mode main{
    background-color: #202020;
    color: white;
}
