body{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    background-color: #f1f1f1;
    color: black;
}

html{
    font-family: 'Roboto', sans-serif;
}
header{
    margin-top: 14px;
    display: flex;
    align-items: center;   
    justify-content: space-between;
}

#logo-cct{
    max-width: 150px;
    max-height: 150px;
    margin-right: 30px;
}

#logo-uenp{
    max-width: 300px;
    margin-left: 30px;
}

#menu ul{
    list-style-type: none;
    overflow: hidden;
    background-color: #183883;
}

#menu li{
    float: left;
    display: flex;
    flex: 1;
    align-items: center;
}

#menu li a{
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    height: 20px;
}

#menu li.buttom-dark{
    float: right;
    margin-right: 14px;
}

#menu li.buttom-dark span{
    margin-left: 4px;
}

#menu li a:hover{
    background-color: #142f6e;
    border-radius: 8px;
}


.rodape{
    background-color: #183883;
    box-shadow: 0 1px 1px 0 #0000.12;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    padding: 45px 50px;
}

.rodape .info p{
    color: white;
    font-size: 14px;
    margin: 0;
}

.rodape .redes-sociais{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.rodape .redes-sociais a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-left: 3px;
    transition:all .25s;
}

.rodape .redes-sociais a:hover{
    transform:scale(1.1);
    -webkit-transform:scale(1.1);
}